In [1]:
a=1
b=6
a+b

7

In [2]:
print(a)
print(b)

1
6

In [3]:
a

1

## If - Else

In [4]:
condicion = 20

if(condicion == 1):
    print("Flujo 1")
elif(condicion ==2):
    print ("Flujo 2")
elif(condicion ==3):
    print ("Flujo 3")
else:
    print("FLujo 4")

FLujo 4

## Ciclos

In [5]:
contador=0

while (contador<5):
    print (contador)
    contador=contador+1

0
1
2
3
4

In [6]:
for contador in range (5):
    if(contador%2 == 0):
        print (contador)

0
2
4

## Operadores

In [7]:
a = 8
b= 4

In [8]:
a+b

12

In [9]:
a-b

4

In [10]:
a*b

32

In [11]:
a/b

2.0

In [12]:
a**b

4096

In [13]:
a%b

0

## Booleanos

In [14]:
a=3
b=2

In [15]:
a==b

False

In [16]:
a!=b

True

In [17]:
a>=b

True

In [18]:
a<=b

False

## Hilos

In [19]:
hilo1= "Un ejemplo de hilo."

In [20]:
print(hilo1)

Un ejemplo de hilo.

In [21]:
hilo2= "Otro ejemplo de hilo."

In [22]:
print(hilo2)

Otro ejemplo de hilo.

In [23]:
hilo1 + " " + hilo2

'Un ejemplo de hilo. Otro ejemplo de hilo.'

In [24]:
a = 2 
str(a)

'2'

In [25]:
print("El valor de a es: " + str(2))

El valor de a es: 2

## Listas

In [26]:
a= [1,2,3]
b= [4,5,6]

In [27]:
print(a)

[1, 2, 3]

In [28]:
print(b)

[4, 5, 6]

In [29]:
a+b

[1, 2, 3, 4, 5, 6]

In [30]:
a

[1, 2, 3]

In [31]:
a.append(4)
a

[1, 2, 3, 4]

In [33]:
a.pop()
a

[1, 2]

In [35]:
import numpy as np
a

[1, 2]

In [36]:
a=[1,2,3,4,5,6,7,8,9]

In [38]:
for elemento in a:
    if elemento ==5:
        print("hay un 5.")

hay un 5.

In [39]:
5 in a

True

## Diccionarios

In [40]:
d= {0 : "Elemento con llace cero",
   1: "Elemento con llace uno."}

## Funciones

In [43]:
def funcion():
    print ("Paso 1")
    print ("Paso 2")
    print ("Paso 3")

In [45]:
funcion()

Paso 1
Paso 2
Paso 3

In [47]:
def funcion_con_parametros (a,b,c):
    print (a)
    print (b)
    print (c)

In [48]:
funcion_con_parametros(5,10,15)

5
10
15

In [51]:
def funcion_con_parametros_predefinidos(b=100):
    print(b)

In [52]:
funcion_con_parametros_predefinidos()

100

In [53]:
funcion_con_parametros_predefinidos(50)

50

## Lectura rápida de archivos

In [56]:
import pandas as pd

In [58]:
pd.read_excel?

In [63]:
data = pd.read_excel("datosPE.xlsx")
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [67]:
data.head(10)

   ID Persona  Peso  Estatura
0           1    67      1.41
1           2    99      1.83
2           3    86      1.90
3           4   118      1.65
4           5   109      1.67
5           6    81      1.66
6           7    74      1.64
7           8    69      1.70
8           9    51      1.67
9          10   104      1.56

In [68]:
data["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [69]:
data.tail(10)

    ID Persona  Peso  Estatura
90          91    87      1.88
91          92    98      1.53
92          93   104      1.92
93          94   112      1.65
94          95    56      1.70
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

In [71]:
data["Estatura"].mean()

1.6610999999999998

In [72]:
data["Peso"].sum()

8558

In [75]:
data["Peso en libras"] = data ["Peso"]*2.205

In [76]:
data

    ID Persona  Peso  Estatura  Peso en libras
0            1    67      1.41         147.735
1            2    99      1.83         218.295
2            3    86      1.90         189.630
3            4   118      1.65         260.190
4            5   109      1.67         240.345
..         ...   ...       ...             ...
95          96    88      1.49         194.040
96          97    98      1.54         216.090
97          98    95      1.57         209.475
98          99    61      1.61         134.505
99         100   107      1.62         235.935

[100 rows x 4 columns]

In [78]:
data.to_excel("ejemmplo_en_libras.xlsx")